---
import ProjectCard from "@/components/ProjectCard.astro";
import Layout from "@components/layouts/Layout.astro";

import Billaudot from "@assets/images/billaudot.png";
import Zig from "@assets/images/zig.png";
import RescueOcean from "@assets/images/rescue-ocean.png";
import Gemme from "@assets/images/gemme.png";
import Aurora from "@assets/images/aurora.png";
import Rfid from "@assets/images/rfid.png";
import ReactNative from "@assets/images/react-native.png";
---

<Layout title="Projets">
	<h1>Ingénierie, <span class="text-secondary">Conception</span>, Design</h1>
	<section>
		<h2>Front end <span class="text-secondary">-</span> Mobile</h2>
		<div class="flex flex-wrap gap-6 justify-center sm:justify-start">
			<ProjectCard
				fading_order={3}
				image={Rfid}
				image_width={250}
				title="RFID • Ionic - Angular"
				url_project="https://apps.apple.com/fr/app/gemme/id1641074687"
			/>

			<ProjectCard
				fading_order={2}
				image={Gemme}
				image_width={380}
				title="Gemme • Ionic - React"
				url_project="https://apps.apple.com/fr/app/gemme/id1641074687"
			/>

			<ProjectCard
				fading_order={4}
				image={RescueOcean}
				image_width={450}
				title="Rescue Ocean • Ionic - Angular"
				url_project="https://projectrescueocean.org/"
			/>

			<ProjectCard
				fading_order={1}
				image={ReactNative}
				image_width={300}
				title="Fraud detection • Expo - React native"
				message_badge="In progress"
			/>
		</div>
	</section>

	<section>
		<h2>Full<span class="text-secondary">-</span>stack</h2>
		<div class="flex flex-wrap gap-6 justify-center sm:justify-start">
			<ProjectCard
				fading_order={1}
				image={Billaudot}
				image_width={500}
				title="Billaudot e-commerce • Thelia - Symfony - React"
				url_project="https://www.billaudot.com/"
			/>

			<ProjectCard
				fading_order={3}
				image={Aurora}
				image_width={500}
				title="Aurora • Thelia - Symfony - React"
				url_project="https://www.auvergnerhonealpes-entreprises.fr/"
			/>

			<ProjectCard
				fading_order={4}
				image={Zig}
				image_width={300}
				title="Parser transport video • Zig - Typescript"
				url_project="https://github.com/anonymze/zig_parser_m3u8"
			/>

			<ProjectCard
				fading_order={2}
				image={Zig}
				image_width={300}
				title="Infer SVG types • Zig - Typescript"
				message_badge="In progress"
			/>
		</div>
	</section>

	<style>
		h1 {
			max-width: var(--max-sm-width-layout);
			margin-block: 5rem;
			margin-inline: auto;
			text-align: center;
		}
		section {
			margin-bottom: 1rem;

			h2 {
				margin-top: 3rem;
				margin-bottom: 1.5rem;
			}
		}
	</style>
</Layout>
