---
import Badge from "./Badge.astro";
import { i18n } from "@/i18n/translations";
import ArrowTopRightSVG from "@assets/icons/arrow-top-right.svg?raw";
import MaintenanceSVG from "@assets/icons/maintenance.svg?raw";
import Image from "astro/components/Image.astro";
import type { ImageMetadata } from "astro";
import type { I18n } from "@/types/i18n";

interface Props {
	title: string;
	messages: Array<string>;
	badges: Array<{
		message: string;
	}>;
	images?: Array<ImageMetadata>;
	url?: string;
	in_progress?: boolean;
	mobile?: boolean
}

const { title, messages, badges, url, images, in_progress, mobile } = Astro.props;
const locale = Astro.currentLocale as I18n;
---

<section class="py-10 px-5 sm:py-24 sm:px-12">
	<div class="w-full sm:w-[70%]">
		<div class="flex items-start justify-between">
			<h1>{title}<span class="text-secondary">.</span></h1>

			<div class="flex flex-col items-center gap-y-3 w-32">
				{
					url && (
						<a
							target="_blank"
							href={url}
							title={i18n[locale]("OPEN_WEBSITE") + " " + title}
							set:html={ArrowTopRightSVG}
						/>
					)
				}
				{
					in_progress && (
						<span
							aria-label={i18n[locale]("PROJECT_IN_PROGRESS")}
							class="inline-block w-fit"
							set:html={MaintenanceSVG}
						/>
					)
				}
			</div>
		</div>

		{
			messages.map((message) => {
				return <p>{message}</p>;
			})
		}

		<div class="flex gap-2 flex-wrap">
			{
				badges.map((badge) => {
					return <Badge class:list={"text-sm uppercase"} message={badge.message} />;
				})
			}
		</div>
	</div>
</section>

{
	!images?.length ? (
		<p class="text-center italic font-bold">{i18n[locale]("IMAGES_CONFIDENTIAL")}</p>
	) : (
		<ul class:list={[
			"p-0 sm:p-8 lg:p-10",
			"grid gap-4",
			"grid-cols-1 md:grid-cols-2",
			mobile && "md:grid-cols-3"
		]}>
			{images.map((image) => {
				return (
					<li>
						<Image src={image} alt="Images projet" class="object-cover w-full h-auto" />
					</li>
				);
			})}
		</ul>
	)
}

<style>
	section {
		max-width: var(--max-md-width-layout);
		margin: 4rem auto 3rem auto;
		background-color: color-mix(in oklch, var(--bg-primary) 95%, #555555);

		h1 {
			font-size: var(--text-2xl);
		}

		p {
			margin-bottom: 2rem;
			font-size: var(--text-md);
		}

		a {
			min-width: fit-content;
			padding: 0.4rem;
			border: 1px solid var(--text-primary);
			border-radius: 5px;

			svg {
				transition: transform 0.2s;
			}

			&:hover {
				svg {
					transform: rotate(-15deg);
				}
			}
		}
	}

	ul {
		background-color: var(--color-secondary);

		li {
			list-style: none;

			img {
				display: block;
			}
		}
	}
</style>
